<div class="container pack-item">
    <div class="device responsive centered">
        <div class="page device-content fade-in one">
            <div class="nano">
                <div class="nano-content">
                    <div class="row">
                        <div class="header">
                            <div class="image" style="background-image: url({{image.large_url}})"></div>
                            <div class="mask"></div>

                            <div class="meta">
                                <a class="back-btn" href="/keyboards"></a>
                                <h2 class="name">{{name}}</h2>
                                <div class="description">
                                    <span>{{description}}</span>
                                </div>
                                <a href="tryoften://pack/{{id}}" class="primary download-btn">Open in App</a>
                            </div>

                            <div class="tabbar">
                                <div id="quote" class="tab selected">Quotes</div>
                                <div id="gif" class="tab">GIFS</div>
                            </div>
                        </div>
                    </div>
                    <div class="items row">
                    {{#items}}
                        <div class="item {{type}}">
                            {{#if isGIF}}
                                <img src="{{image.medium_url}}" />
                            {{else}}
                                <span>{{text}}</span>
                                <div class="category" id="{{category_id}}">{{category_name}}</div>
                            {{/if}}
                        </div>
                    {{/items}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
