<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <meta name="viewport"                  content="width=device-width, initial-scale=1">
    <meta name="apple-itunes-app"          content="app-id=1053313047, affiliate-data=myAffiliateData, app-argument=myURL">
    <meta name="description"               content="{{description}}">
    <meta name="keywords"                  content="keyboard, custom keyboard, gifs, lyrics, quotes, sharing, ios keyboard">
    <meta name="twitter:card"              content="summary_large_image">
    <meta name="twitter:site"              content="@tryoften">
    <meta name="twitter:title"             content="{{title}}">
    <meta name="twitter:text:description"  content="{{description}}">
    <meta name="twitter:image"             content="{{image.large_url}}">
    <meta property="og:url"                content="{{image.large_url}}">
    <meta property="og:type"               content="article">
    <meta property="og:title"              content="{{title}}">
    <meta property="og:description"        content="{{description}}">
    <meta property="og:image"              content="{{image.large_url}}">
    <meta property="al:ios:app_name"       content="Often Keyboard">
    <meta property="al:ios:app_store_id"   content="1053313047">
    <meta property="al:ios:url"            content="tryoften://pack/{{id}}">
    <meta property="al:web:url"            content="https://tryoften.com/">
    <title>{{title}}</title>
    <link rel='icon' href='https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
</head>
<body>
    <header class="container">
        {{> nav}}
    </header>
    <section class="main-content">
        {{{body}}}
    </section>
    <footer class="container">
        {{> footer}}
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.nanoscroller.js"></script>
    <script src="/public/js/browser-deeplink.js"></script>
    <script src="/public/js/pack.js"></script>
    <script src="/public/js/main.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68540311-1', 'auto');
    ga('send', 'pageview');
    </script>
</body>
</html>
